@tailwind base;
@layer base {
	h1 {
		@apply text-2xl mb-4 text-primary;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
	a {
		@apply italic underline text-secondary;
	}
	p {
		@apply mb-4;
	}
}
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #fff;
	--color-primary-2: #fcb60d;
	--color-secondary: #767676;
	--color-tertiary: #a9a9a9;
	--color-background: #171717;
	--color-background-dark: #050505;
	--color-hover: #404040;
	--color-border: #262626;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	overflow-y: hidden;
}

html {
	font-size: 16px;
}

html,
body,
#__next {
	height: 100%;
	width: 100%;
}

hr {
	height: 1px;
	background-color: #a9a9a9;
	border: none;
}

input:focus,
textarea:focus {
	outline: none;
}
